.link-section-wrapper {
  .link-section-component {
    h3 {
      padding: 8px 0;

      span {
        color: red;
        font-weight: bold;
      }
    }

    h4 {
      span {
        font-weight: bold;
        color: red;
      }
    }
  }

  .link-section-table {
    border-collapse: collapse;

    thead {
      tr {
        border-bottom: 1px solid #DCDFE6;
        border-top: 1px solid #DCDFE6;

        td {
          text-align: center;
          padding: 12px 0
        }
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid #DCDFE6;

        td {
          text-align: center;
          padding: 20px 8px;
        }
      }
    }
  }
}