.link-section-wrapper {
  .link-section-component {
    h3 {
      padding: 8px 0;

      span {
        color: red;
        font-weight: bold;
      }
    }

    h4 {
      span {
        font-weight: bold;
        color: red;
      }
    }
  }
}